@color-1: #00007A;
@color-2: #A4EAFF;
@color-3: #00B1FF;
@color-4: #D9F5FF;
@color-5: #B2E4FF;
@color-6: #F4F4F4;

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > span > a, .ant-menu-dark .ant-menu-item-selected > a:hover, .ant-menu-dark .ant-menu-item-selected > span > a:hover{
    color: black!important
}
.ant-pro-sider-menu-logo{
    display: flex;
    justify-content: center;
    background-color: @color-2!important;
}
.ant-pro-global-header{
    background-color: @color-2!important;
}