@color-1: #00007A;
@color-2: #A4EAFF;
@color-3: #00B1FF;
@color-4: #D9F5FF;
@color-5: #B2E4FF;
@color-6: #F4F4F4;
@color-7: #e9e6e6;
@color-8: #050076;

.ant-layout-sider{
    background-color: @color-7!important;
}
.ant-pro-sider-menu-logo{
    padding: 0px!important;
    background-color: @color-8!important;
    height: 64px;
}
.ant-pro-sider-menu-logo img{
    width: 64px!important;
    height: 64px!important;
}
.ant-layout-header{
    background-color: @color-8!important;
}
.ant-pro-sider-menu-sider{
    box-shadow: none!important;
}
ul.ant-menu.ant-menu-dark.ant-pro-sider-menu.ant-menu-root.ant-menu-inline{
    background-color: @color-8!important;
    margin-top: 30px;
}
li.ant-menu-item.ant-menu-item-only-child{
    background-color: @color-7;
}
li.ant-menu-item.ant-menu-item-only-child span {
    color: black!important;
}